{%  extends "base.html" %}

{% load  static  %}
{% block scripts%}

<script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@<version>/build/three.module.js",
    "three/addons/": "https://cdn.jsdelivr.net/npm/three@<version>/examples/jsm/"
  }
}
</script>

<script src="https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.min.js"></script>
{{ shapes|json_script:"shapes-data" }}
<script>
    const shapes = JSON.parse('{{shapes | safe}}')
    const.log(shapes)
</script>  
<script src="{% static "posts/three.js" %}" defer></script>
{% endblock scripts %}

{% block content %} 
    <div id="scene-box"></div>
{% endblock content %}
